@import "~normalize.css";
@import "roboto.css";
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    background-color: darkblue;
}

#target-container {
    display: flex;
    align-items: center;
    padding: 30px;
    width: 30%;
    height: 600px;
}

.target {
    position: relative;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
}

.target__image {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.layer {
    content: "";
    border-radius: 50%;
    position: absolute;
}

#console-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 30%;
    height: 600px;
}

.console {
    background-color: white;
}

#panel {
    padding: 30px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.panel-header {
    display: flex;
}

#layer-control-container {
    width: 100%;
    max-height: 630px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.delete-layer {
    width: 30px;
    height: 30px;
    background-color: red;
}

.layer-control {
    width: 430px;
    padding: 10px;
    margin-top: 20px;
    height: 650px;
    background-color: cornflowerblue;
}

.layer-control h1 {
    margin: 0;
}

.picker-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.picker {
    overflow: hidden;
    position: relative;
    background-color: white;
}

.marker {
    position: absolute;
    border-radius: 50%;
    background-color: black;
}

.picker-input-container {
    display: flex;
}

.picker-input-container span {
    line-height: 30px;
    font-size: 26px;
}

.picker-input {
    box-sizing: border-box;
    width: 30%;
    height: 30px;
}

.picker-reset-button {
    width: 30%;
}

.control-container {
    height: 460px;
    padding: 0 10px;
    display: flex;
}

.size-container {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.gradient-container {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.add-breakpoint {
    margin-top: 10px;
    width: 100%;
    height: 30px;
}

.breakpoint-container {
    max-height: 270px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.breakpoint {
    box-sizing: border-box;
    padding: 5px;
    margin-top: 10px;
    border: solid black;
    display: flex;
    flex-direction: column;
}

.breakpoint-header {
    display: flex;
    justify-content: space-between;
}

.delete-breakpoint {
    padding: 0;
    line-height: 16px;
    text-align: center;
    width: 18px;
    height: 18px;
    background-color: red;
}

.point-input-container {
    display: flex;
}

.color-container {
    display: flex;
}

.color {
    cursor: pointer;
    box-sizing: border-box;
    border: solid black;
    text-align: center;
    line-height: 20px;
    width: 30px;
    height: 30px;
}

.color-input {
    width: 100%;
    font-size: 14px;
}

.color-picker {
    padding: 5px;
}

.output-container {
    display: flex;
}

.text-input {
    border: dashed black;
    color: black;
    font-size: large;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    width: 50px;
    height: 20px;
}

.rgb-input-item {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}

.rgb-input {
    overflow: hidden;
    width: 100px;
    height: 16px;
    -webkit-appearance: none;
    background-color: white;
}

.input-r::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 16px;
    cursor: pointer;
    background: #010118;
    box-shadow: -80px 0 0 80px red;
}

.input-g::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 16px;
    cursor: pointer;
    background: #010118;
    box-shadow: -80px 0 0 80px green;
}

.input-b::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 16px;
    cursor: pointer;
    background: #010118;
    box-shadow: -80px 0 0 80px blue;
}

.input-a::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 16px;
    cursor: pointer;
    background: #010118;
}

.rotator-panel {
    padding-top: 20px;
}

.rotator {
    border-radius: 50%;
}

.rotator-marker {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    background-color: white;
}

.rotator-marker-strip {
    position: absolute;
    top: -5px;
    left: 48%;
    width: 4%;
    height: 30%;
    background-color: black;
}

.rotator-input-container {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}